In [3]:
from sqlalchemy import create_engine
import pandas as pd
import pymongo

In [7]:
df = pd.read_csv("alumnos.csv")
df

   index no_cuenta nombres apellido_paterno fecha_nacimiento  estatura
0      0        1A    Juan            Lopez       2001-01-01      1.78
1      1       1GG   Maria        Paterno 1       2001-03-20      1.60
2      2      21OL   Donna            River       2002-01-09      1.69
3      3       2GG   Maria        Paterno 2       2001-03-20      1.62
4      4        3B   Perla           Calles       2001-01-20      1.60
5      5        4A  Carlos           Madero       2001-01-01      1.68
6      6       574   Pedro        Paterno 5       2022-01-31      1.60
7      7        6C   Jesus           Garcia       2001-03-20      1.65
8      8        7B    Gema             None       2001-03-20      1.53
9      9      A744   Amaro           Garcia       2001-09-23      1.83

In [12]:
#Escribir a un csv
df.to_csv("datos/df/alumnos_coma.csv",index_label="ID")
df

   index no_cuenta nombres apellido_paterno fecha_nacimiento  estatura
0      0        1A    Juan            Lopez       2001-01-01      1.78
1      1       1GG   Maria        Paterno 1       2001-03-20      1.60
2      2      21OL   Donna            River       2002-01-09      1.69
3      3       2GG   Maria        Paterno 2       2001-03-20      1.62
4      4        3B   Perla           Calles       2001-01-20      1.60
5      5        4A  Carlos           Madero       2001-01-01      1.68
6      6       574   Pedro        Paterno 5       2022-01-31      1.60
7      7        6C   Jesus           Garcia       2001-03-20      1.65
8      8        7B    Gema             None       2001-03-20      1.53
9      9      A744   Amaro           Garcia       2001-09-23      1.83

In [20]:
#Escribir a un csv
df.to_csv("datos/df/alumnos_pipe.csv",index=False, 
          sep = "|")

#! cat
#Muestra el contenido de un archivo
! type alumnos_pipe.csv

El sistema no puede encontrar el archivo especificado.

In [17]:
#Escribir un json
#En lista por campos
df.to_json('alumnos_campos.json',indent=2)

In [21]:
#Escribir un json orientado a registros
#En lista por personas o cosas con sus descripciones
df.to_json('alumnos_registros.json',
           orient="records",
           indent=2)

#indent tabuladores de separaci√≥n

In [22]:
#Escribir un json orientado a tablas
#En lista por *****
df.to_json('alumnos_tablas.json',
           orient="table",
           indent=2)

In [23]:
#Escribir un json orientado a valores
#En lista solamente los datos de la bd
df.to_json('alumnos_valores.json',
           orient="values",
           indent=2)

In [24]:
#Escribir en un excel
df.to_excel('datos/df/alumnos_excel.xlsx',
            sheet_name="AlumnosArcelia",
            index=False
            )

#Al estar en false, solo guarda los datos, sin contar la fila del indice

In [25]:
#Escribir en multiples hojas en un archivo de excel
#df_2 = df.copy()
with pd.ExcelWriter('datos/df/alumnos_hojas.xlsx') as w:
    for i in range(5):
        hoja = f"AlumnosHoja{i}"
        df.to_excel(w, sheet_name=hoja, index=False)

#With abre un archivo y trabaja sobre el